<div class="grey-container full-size">
  {{nav-bar logout=true}}
  <div class="container account-container">
    <div class="row">
      <div class="col-xs-8">
        <h1>Welcome, Ian</h1>
        <div class="row basic-info">
          <div class="col-xs-6">
            <div>Email: ian@company.com</div>
            <div>Account no. X789 2246 4350</div>
          </div>
          <div class="col-xs-6">
            <div class="pull-right">Last Login: {{dayTime oneWeekAgo}}</div>
            {{! <a class="pull-right"><u>1 unread message</u></a>   }}
          </div>
        </div>
        <div class="row info-container">
          <div class="col-xs-12">
            <div class="row">
              {{#if sharedContent}}
                {{#if isSharedContentOpen}}
                  <div {{action 'hideSharedContent'}}>
                    <div class="col-xs-11">
                      <h3>Investment Recommendations</h3>
                    </div>
                    <div class="col-xs-1">
                      <h2>-</h2>
                    </div>
                  </div>
                {{/if}}
                {{#unless isSharedContentOpen}}
                <div {{action 'showSharedContent'}}>
                  <div class="col-xs-11">
                    <h3>Investment Recommendations</h3>
                  </div>
                  <div class="col-xs-1">
                    <h2>+</h2>
                  </div>
                </div>
                {{/unless}}
              {{/if}}

              {{#unless sharedContent}}
                <div class="col-xs-12">
                  <h3 class="disable-investment-rec-title">Investment Recommendations</h3>
                </div>
              {{/unless}}
            </div>
            {{#if sharedContent}}
            <div class="row investment-line">
              <div class="col-xs-12">
                  <h4 class="line"></h4>
              </div>
            </div>
            {{/if}}
            <div id="sharedContent" class="collapse in">
              {{#each sharedContent}}
              <div class="row shared-content">
                <div class="col-xs-12 white-container">
                  <h4>{{title}}</h4>
                  <img {{bind-attr src="url"}} />
                </div>
              </div>
              {{/each}}
            </div>

          </div>
        </div>
        <div class="row info-container">
          <div class="col-xs-12 account-overview-col">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="line">Account Overview</h3>
              </div>
            </div>
            <div class="row overview">
              <div class="col-xs-2 labels">
                <h5><strong>Cash</strong></h5>
                <h5><strong>Equity</strong></h5>
                <h5><strong>Fixed</strong></h5>
                <h5><strong>Retirement</strong></h5>
              </div>

              <div class="col-xs-2 col-xs-offset-1 numbers">
                <h5>${{totalCash}}</h5>
                <h5>${{totalEquity}}</h5>
                <h5>${{totalFixed}}</h5>
                <h5>${{totalRetirement}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <ul class="nav nav-tabs text-center">
                  <li class="active"><a href="#cash" data-toggle="tab">Cash</a></li>
                  <li><a href="#equity" data-toggle="tab">Equity</a></li>
                  <li><a href="#fixed" data-toggle="tab">Fixed</a></li>
                  <li><a href="#retirement" data-toggle="tab">Retirement</a></li>
                </ul>
                <div class="tab-content transactions">
                  <div class="tab-pane active" id="cash">
                    <div class="transaction-entry">
                      {{#each controllers.application.cashTransactions}}
                        {{account-transaction transaction=this index=_view.contentIndex}}
                      {{/each}}
                    </div>
                  </div>
                  <div class="tab-pane" id="equity">
                    <div class="transaction-entry">
                  {{#each controllers.application.equityTransactions}}
                      {{account-transaction transaction=this index=_view.contentIndex}}
                  {{/each}}
                </div>
              </div>
                  <div class="tab-pane" id="fixed">
                    <div class="transaction-entry">
                  {{#each controllers.application.fixedTransactions }}
                      {{account-transaction transaction=this index=_view.contentIndex}}
                  {{/each}}
                </div>
              </div>
                  <div class="tab-pane" id="retirement">
                    <div class="transaction-entry">
                      <div class="row transaction-data">
                        <div class="col-xs-12">
                            <img src="/images/retirement_graph.png" width="100%">
                        </div>
                      </div>

                  {{!#each controllers.application.retirementTransactions }}
                       {{!account-transaction transaction=this index=_view.contentIndex}}
                  {{!/each}}
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row info-container">
            <div class="col-xs-12 todays-markets">
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="line">Today's Markets</h3>
                </div>
              </div>
              <div class="white-box">
                <div class="row market-graphs">
                  <div class="col-xs-4 market-graph">
                      <span>10/9/2013 DOW</span>
                      <img src="/images/first_graph.png" width="100%">
                  </div>

                  <div class="col-xs-4 market-graph">
                      <span>10/09/2013 NASDAQ</span>
                      <img src="/images/second_graph.png" width="100%">
                  </div>
                  <div class="col-xs-4 market-graph">
                      <span>10/09/2013 S&P INDEX</span>
                      <img src="/images/third_graph.png" width="100%">
                  </div>
              </div>

            <div class="row divider">
              <div class="col-xs-12">
                <h2 class="line"></h2>
              </div>
            </div>
            <div class="row trading-info-title">
              <div class="col-xs-12">
                Tuesday's Trading:
              </div>
            </div>
            <div class="row trading-info">
                <div class="col-xs-3">
                  <div class="row">
                    <div class="col-xs-6 trading-text-blue">
                      Dow
                    </div>
                    <div class="col-xs-6 green-text">
                      +70.96
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      15,821.63
                    </div>
                    <div class="col-xs-6 green-text">
                      0.45%
                    </div>
                  </div>

                </div>

                <div class="col-xs-3 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6 trading-text-blue">
                      Nasdaq
                    </div>
                    <div class="col-xs-6 green-text">
                      +45.66
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      3,965.58
                    </div>
                    <div class="col-xs-6 green-text">
                      +1.16%
                    </div>
                  </div>
                </div>

                <div class="col-xs-3 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6 trading-text-blue">
                      S&P
                    </div>
                    <div class="col-xs-6 green-text">
                        +14.31
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 pus">
                      1,782.00
                    </div>
                    <div class="col-xs-6 green-text">
                      +0.81%
                    </div>
                  </div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 right-container">
        {{#if chat}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 chat-widget-container">
            {{chat-widget}}
          </div>
        </div>
        {{else}}
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 chat-button" {{action 'startChat'}}>
            <div class="row">
              <div class="chat-table">
                <div class="chat-table-cell">
                  <div class="col-xs-3">
                    <img src="images/otcs-rep-thumbnail.png" />
                  </div>
                  <div class="col-xs-9">
                    <div>{{firstMeeting.title}}</div>
                    <div>Call {{firstMeeting.rep.id}} now</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="row">
          <div class="white-container col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-12 communication-center">
                <h4 class="line">Communication Center</h4>
                <div class="communication-subtitle">Upcoming Meetings</div>
                {{#each meeting in meetings}}
                <div {{bind-attr class=":meeting meeting.isToday:highlight"}}>
                  <span>{{meetingTime meeting.time}}:</span>
                  <span>{{meeting.title}}</span>
                </div>
                {{/each}}
                <div class="grey-line"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {{date-picker meetings=meetings}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 sessions">
                <div class="sessions-title">Previous advisor sessions available for playback:</div>
                {{#each archive in archives}}
                 {{#if _view.contentIndex}}
                  <div class="row">
                    <div class="col-xs-12">
                      <h2 class="grey-line"></h2>
                    </div>
                  </div>
                 {{/if}}
                  <div class="row session">
                    <div class="col-xs-4 text-center">
                      {{#unless _view.contentIndex}}
                        {{#if archivePending}}
                        <div class="image-holder pending" {{action 'showArchiveEntry' archive target="controllers.application"}}><img src="images/play_button.png"></div>
                        {{else}}
                        <div class="image-holder" {{action 'showArchiveEntry' archive target="controllers.application"}}><img src="images/play_button.png"></div>
                        {{/if}}
                      {{else}}
                        <div class="image-holder" {{action 'showArchiveEntry' archive target="controllers.application"}}><img src="images/play_button.png"></div>
                      {{/unless}}
                    </div>
                    <div class="col-xs-8">
                      <div>{{meetingTime archive.time}}</div>
                      <div>{{archive.title}}</div>
                    {{#unless _view.contentIndex}}
                      {{#if archivePending}}
                      <div>Processing Video...</div>
                      {{else}}
                      <div>{{minutes archive.duration}}</div>
                      {{/if}}
                    {{else}}
                      <div>{{minutes archive.duration}}</div>
                    {{/unless}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="meetingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New meeting</h4>
      </div>
      <div class="modal-body">
        {{#if newMeeting}}
        <p>
          {{newMeeting.title}}

          at {{dayTime newMeeting.time}}
        </p>

        {{/if}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Add To Calendar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

